@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Recuperação Senha</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            Foi enviado ao e-mail informado um link para realizar a recuperação de senha.
        </div>
    </div>
</div>
