@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>Definição de Senha Concluída</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            Definição de nova senha concluída com sucesso. Por favor, <a asp-action="Login">clique aqui</a> para poder entrar.
        </div>
    </div>
</div>
